<div>
    <div class="list-nav" mat-button [routerLink]="source.active || source.label == 'Grid' ? source.link : null" *ngFor="let source of energySources"
        (click)="(source.active || source.label == 'Grid') && activeLink = source"
        [ngClass]="!source.active && source.label != 'Grid' ? 'disabled' : activeLink == source ? 'selected': ''">
        <div class="div-fx">
            <mat-slide-toggle [disabled]="source.disabled" [checked]="source.active" (click)="clickPrevent($event)" [(ngModel)]="source.active"></mat-slide-toggle>
            <mat-icon>{{source.icon}}</mat-icon>
            <div>
                <h2>{{source.label}}</h2>
                <div class="mat-caption info" *ngIf="source.info">
                    <span class="material-icons">help</span>
                    {{source.info}}
                </div>
                <div class="fade">{{source.desc}}</div>
            </div>
        </div>
    </div>
</div>


<!-- 
    <div>
    <div class="list-nav" mat-button [routerLink]="isChecked ? source.link : null" *ngFor="let source of energySources" [ngClass]="{'selected': activeLink == source}"
        (click)="isChecked && activeLink = source">
        <div class="div-fx">
            <mat-slide-toggle [checked]="source.active" (click)="clickPrevent($event)" [(ngModel)]="isChecked"></mat-slide-toggle>
            <mat-icon>{{source.icon}}</mat-icon>
            <div>
                <h2>{{source.label}}</h2>
                <div class="mat-caption info" *ngIf="source.info">
                    <span class="material-icons">help</span>
                    {{source.info}}
                </div>
                <div class="fade">{{source.desc}}</div>
            </div>
        </div>
    </div>
</div>
 -->