<div>
    <div class="list-nav" mat-button [routerLink]="source.link" *ngFor="let source of reviews" [ngClass]="{'selected': activeLink == source}" (click)="activeLink = source">
        <div class="div-fx">
            <!-- <mat-slide-toggle [checked]="source.active" (click)="clickPrevent($event)"></mat-slide-toggle> -->
            <mat-icon *ngIf="source.icon">{{source.icon}}</mat-icon>
            <div>
                <h4 style="margin-bottom:4px ;">{{source.label}}</h4>
                <div class="mat-caption info" *ngIf="source.info">
                    <span class="material-icons">help</span>
                    {{source.info}}
                </div>
                <div class="fade" *ngIf="source.desc">{{source.desc}}</div>
            </div>
        </div>
    </div>
</div>