<!-- <hero-img></hero-img> -->
<h1 class="mat-headline" style="margin: 0 0 16px;">Energy Sources</h1>



<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Personal data</mat-panel-title>
        </mat-expansion-panel-header>
        <h1>this is working fine</h1>
        <h1>this is working fine</h1>
        <h1>this is working fine</h1>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Day of the trip</mat-panel-title>
        </mat-expansion-panel-header>
        <h1>this is also working fine</h1>
        <h1>this is also working fine</h1>
        <h1>this is also working fine</h1>


    </mat-expansion-panel>
</mat-accordion>