<div class="box">
    <project-detail></project-detail>
    <div class="content">

        <div style="display: flex; flex-direction: row; height: 100%;">
            <div style="width: 440px; flex-shrink: 0; padding: 12px 0;">
                <energy-source-nav></energy-source-nav>
            </div>

            <div class="side-nav-border"></div>
            <div style="flex-grow: 1; padding: 24px 32px;">
                <router-outlet></router-outlet>
                <!-- <solar-form></solar-form> -->
            </div>
        </div>


    </div>
</div>
<!-- footer file if required -->
<!-- <div style="height: 40px; display: flex; flex-shrink: 0;">Content 100%</div> -->